.course {
   margin-bottom: 1vh;
   cursor: pointer;
   padding-top: 10px;
   padding-bottom: 5px;
}

.course:hover {
   background-color: antiquewhite;
}

.course_title {
   /* background-color: blue; */
   margin: 0 0;
}

.course_duration {
   /* background-color: purple; */
   margin: 0 0;
}

.course_location {
   /* background-color: gold; */
   margin: 0 0;
   margin-bottom: 10px;
}

.course_thumbnail {
   max-width: 80vw;
   width: 70vw;
}